<div class="navbar">
  <% if current_page?('/users/sign_in') %>
    <h1 class="navbar-header">Log in</h1>
  <% elsif current_page?('/users/sign_up') %>
    <h1 class="navbar-header">Sign up</h1>
  <% else %>
    <a href="#" class="previous round">&#8249;</a>
  <% end %>
</div>
