<div class="navbar">
  <a href="#" class="previous round">&#8249;</a>
  <% if current_page?('/users/sign_in') %>
    Log in
  <% elsif current_page?('/users/sign_up') %>
    Sign up
  <% end %>
</div>
